<div class="container custom-container ">

  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span
          class="libraryCacheHitRatioValue">{{libraryCacheHitRatioValue|number:'1.0'}}</span>%</div>
      <div class="card-body">
        <h5 class="card-title">Library cache hitratio</h5>
        <mat-progress-bar mode="determinate" value="libraryCacheHitRatioValue"></mat-progress-bar>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span
          class="libraryCacheHitRatioValue">{{dictionaryCacheHitRatioValue|number:'1.0'}}</span>%
      </div>
      <div class="card-body">
        <h5 class="card-title">Dictionary Cache hitratio</h5>
        <mat-progress-bar mode="determinate" value="dictionaryCacheHitRatioValue"></mat-progress-bar>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span
          class="libraryCacheHitRatioValue">{{redoLogBufferHitRatioValue|number:'1.0'}}</span>%
      </div>
      <div class="card-body">
        <h5 class="card-title">Redo log buffer hit ratio</h5>
        <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
      </div>
    </div>
  </div>
  <img src="../../../../assets/imgs/tuning1.jpg" width="100%" height="400px" class="img  mb-2">
  <div style="margin-top: 20px;">
    <canvas id="myChart"></canvas>
  </div>
</div>
