<div class="container custom-container">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-user"></span></div>
      <div class="card-body">
        <h5 class="card-title">Blocks</h5>
        <p class="card-text">Nombre de Blocks <strong>10</strong>.</p>
        <a href="/user-list" class="btn btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-qrcode"></span></div>
      <div class="card-body">
        <h5 class="card-title">Waiters</h5>
        <p class="card-text">Nombre de Waiters <strong>5</strong>.</p>
        <a href="/product-list" class="btn  btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-usd"></span></div>
      <div class="card-body">
        <h5 class="card-title">Contentions</h5>
        <p class="card-text">Nombre de Contentions <strong>56</strong>.</p>
        <a href="/orders" class="btn  btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>
  </div>
<div style="margin-top: 20px;">
  <canvas id="myChart"></canvas>
</div>
</div>
