table {
  width: 100%;
}

.custom-container {
  margin-left: 60px;
  margin-top: 0px;
  width: calc(100% - 20px);
}
.libraryCacheHitRatioValue {
  font-size: 20px;
  font-weight: 500;
  color: green;
}
.img {
  margin-top: 20px;
}
.custom-btn-link {
  margin-left: 5px;
  color: #fff;
}

.custom-btn-link .glyphicon {
  color: #fff;
}

.custom-mat-cell {
  width: 120px;
}

.custom-brand {
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.custom-brand .glyphicon {
  font-size: 60px;
  color: #0b0514;
}

.btn-custom-link {
  color: #fff !important;
  display: block;
  background: #00c4cc;
  margin-bottom: 5px;
}
