<div class="container ">
  <img src="../../../../assets/imgs/logo-oracle-2.jpg" width="100%" height="400px" class="img shadow">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Erreur!</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" *ngIf="infoMessage">
    <strong>Succès!</strong> {{infoMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="dataSource">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Log files</h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <mat-form-field>
          <mat-label>Chercher</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. lait">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="group_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GROUP ID</th>
            <td mat-cell *matCellDef="let element">{{element.group_id}}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
          </ng-container>

          <ng-container matColumnDef="member">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MENBER</th>
            <td mat-cell *matCellDef="let element">{{element.member}}</td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
